<h1>
  Node Express
</h1>
<p>Hello {{data.name}}, {{data.age}}</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, fugit repellendus eaque quod voluptate officia totam at ratione eligendi minus necessitatibus impedit voluptatibus minima aliquid, labore iure asperiores nesciunt unde.
</p>

